{% load static %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <title>{% block title %}{% endblock %}</title>
        <link rel="stylesheet" type="text/css" href="{% static 'shared/shared.css' %}">
        {% block header %}{% endblock %}
    </head>
    <body>
        <ul style="display: inline">
            <li style="display: inline"><a href="/limbs">Items</a></li>
            <li style="display: inline"><a href="/limbs/supplier_list">Suppliers</a></li>
            <li style="display: inline"><a href="/limbs/location_list">Locations</a></li>
            <li style="display: inline"><a href="/limbs/tag_list">Tags</a></li>
            <li style="display: inline"><a href="/limbs/manufacturer_list">Manufacturers</a></li>
        </ul>
        {% block content %}{% endblock %}
    </body>
</html>