<form action="{% url 'limbs:create_location' %}" method="post" id="create_location_form">
    {% csrf_token %}
</form>

<datalist id="locations">
    {% for location in locations %}
        <option value="{{ location.name}}">
    {% endfor %}
</datalist>

<div style="grid-column: span 1; grid-row-start: 2; justify-items: center;">
    <table>
        <tr>
            <th>
                Name
            </th>
            <th>
                Parent
            </th>
        </tr>
        <tr>
            <th>
                <input form="create_location_form" type="text" name="location_name">
            </th>
            <th>
                <input list="locations" form="create_location_form" type="text" name="location_parent">
            </th>
        </tr>
      </table>
<!-- </div> -->
<input type="submit" form="create_location_form" value="Submit">

<!-- <div style="grid-column: span 1; grid-column-start: 1;"> -->
<!-- </div> -->
</div>
