{% extends "shared/base.html" %}

{% load static %}


{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/items.css' %}">
{% endblock %}

{% block content %}
<h1>LIMBS</h1>
<!--
<h2>Add a Part, Tool, Subsytem, or Component</h2>
<form id="item_sub_frm" action="/submit/item">
    Name: <input type="text" name="name"><br>
    Location: <input type="text" name="loc">
</form>
<h2>Add a Cabinet, Shelf, Table, or Floor</h2>
<div>
    <form id="sheet_submit_form">
        <label for="sheet_submit">Select spreadsheet for submission:</label>
        <input type="file" id="sheet_submit" name="sheet_submit" accept=".txt,text/plain,.xls,.xlsx,.xlsm,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv,text/csv">
        <input type="submit" value="Upload">
    </form>
</div>
-->
<h2>Database</h2>

<button type="button" onclick="item_popup(event, '{% url 'limbs:create_item' %}')">Create Item</button>

<div id="item_tbl">
    {% include "./item_table.html" with item_list=item_list only %}
</div>
{% endblock %}