{% extends "shared/base.html" %}

{% load static %}


{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/items.css' %}">
{% endblock %}

{% block content %}

<datalist id="manufacturers">
    {% for manufacturer in manufacturers %}
        <option value="{{ manufacturer.name}}">
    {% endfor %}
</datalist>

    
<datalist id="locations">
    {% for location in locations %}
        <option data-id="{{location.id}}" value="{{location}}">
    {% endfor %}
</datalist>

<datalist id="tags">
    {% for tag in tags %}
        <option data-id="{{tag.id}}" value="{{tag}}">
    {% endfor %}
</datalist>


<h1>LIMBS</h1>
<!--
<h2>Add a Part, Tool, Subsytem, or Component</h2>
<form id="item_sub_frm" action="/submit/item">
    Name: <input type="text" name="name"><br>
    Location: <input type="text" name="loc">
</form>
<h2>Add a Cabinet, Shelf, Table, or Floor</h2>
<div>
    <form id="sheet_submit_form">
        <label for="sheet_submit">Select spreadsheet for submission:</label>
        <input type="file" id="sheet_submit" name="sheet_submit" accept=".txt,text/plain,.xls,.xlsx,.xlsm,application/vnd.ms-excel,application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,.csv,text/csv">
        <input type="submit" value="Upload">
    </form>
</div>
-->
<h2>Database</h2>

{% if results_searched %}

Results...

<form action="{% url 'limbs:item_search' %}">   
    <input type="submit" value="Clear Search">
 </form>


{% else %}

<form action="{% url 'limbs:item_search' %}" method="get">
    <input name="item_name" type="text" placeholder="Name...">
    <input name="item_part_no" type="number" placeholder="Part #...">
    <input list="manufacturers" name="item_manufacturer" type="text" placeholder="Manufacturer...">
    
    <br>
    <div id="insert_tags"> </div>
    <input id="tag_input_multiple" list="tags" name="item_tags" type="text" multiple placeholder="Enter Item Tag...">
    <button type="button" onclick="addElem('tag_input_multiple','insert_tags','tags')">Add Tag</button>

    <br>
    <div id="insert_locations"> </div>
    <input id="location_input_multiple" list="locations" name="item_locations" type="text" placeholder="Enter Item Location..">
    <button type="button" onclick="addElem('location_input_multiple','insert_locations','locations')">Add Location</button>

    <br>
    <input type="submit" value="Search">
</form>

<form action="{% url 'limbs:upload_excel' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file"
           title="Upload excel file"
           name="excel_file"
           style="border: 1px solid black; padding: 5px;"
           required="required">
    <p>
    <input type="submit"
           value="Upload"
           style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
</form>

{% endif %}

 
 <button type="button" onclick="item_popup(event, '{% url 'limbs:create_item' %}')">Create Item</button>

<div id="item_tbl">
    {% include "./item_table.html" with item_list=item_list only %}
</div>
{% endblock %}