{% extends "shared/base.html" %}

{% load static %}


{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/items.css' %}">
{% endblock %}

{% block content %}

<datalist id="manufacturers">
    {% for manufacturer in manufacturers %}
        <option value="{{ manufacturer.name}}">
    {% endfor %}
</datalist>

    
<datalist id="locations">
    {% for location in locations %}
        <option data-id="{{location.id}}" value="{{location}}">
    {% endfor %}
</datalist>

<datalist id="suppliers">
    {% for supplier in suppliers %}
        <option data-id="{{supplier.id}}" value="{{supplier}}">
    {% endfor %}
</datalist>

<datalist id="tags">
    {% for tag in tags %}
        <option data-id="{{tag.id}}" value="{{tag}}">
    {% endfor %}
</datalist>


<h1>LIMBS</h1>

<h2>Database Search</h2>

{% if results_searched %}

Results...

<form action="{% url 'limbs:item_search' %}">   
    <input type="submit" value="Clear Search">
 </form>


{% else %}

<form action="{% url 'limbs:item_search' %}" method="get">
    
    <input style="display: block" id="general_search" name="general_search" type="text" placeholder="Search...">
    <br>
    <button id="advanced_search_button" type="button" onclick="show_advanced_options()"> Show Advanced Options </button>

    <div style="display: none" id="advanced_search"> 

        <input name="item_name" type="text" placeholder="Name...">
        <input name="item_part_no" type="number" placeholder="Part #...">
        <input list="manufacturers" name="item_manufacturer" type="text" placeholder="Manufacturer...">
        
        <br>
        <div id="insert_tags"> </div>
        <input id="tag_input_multiple" list="tags" name="item_tags" type="text" multiple placeholder="Enter Item Tag...">
        <button type="button" onclick="addElem('tag_input_multiple','insert_tags','tags')">Add Tag</button>

        <br>
        <div id="insert_locations"> </div>
        <input id="location_input_multiple" list="locations" name="item_locations" type="text" placeholder="Enter Item Location...">
        <button type="button" onclick="addElem('location_input_multiple','insert_locations','locations')">Add Location</button>

        <br>
        <div id="insert_suppliers"> </div>
        <input id="supplier_input_multiple" list="suppliers" name="item_suppliers" type="text" placeholder="Enter Supplier...">
        <button type="button" onclick="addElem('supplier_input_multiple','insert_suppliers','suppliers')">Add Supplier</button>

    </div>

    <input type="submit" value="Search">

</form>

<h2>Upload Excel</h2>

<form action="{% url 'limbs:upload_excel' %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    <input type="file"
           title="Upload excel file"
           name="excel_file"
           style="border: 1px solid black; padding: 5px;"
           required="required">
    <p>
    <input type="submit"
           value="Upload"
           style="border: 1px solid green; padding:5px; border-radius: 2px; cursor: pointer;">
</form>

{% endif %}

 

<h2>Create</h2>

 <button type="button" onclick="item_popup(event, '{% url 'limbs:create_item' %}')">Create Item</button>

 <h2>Items</h2>

<div id="item_tbl">
    {% include "./item_table.html" with item_list=item_list only %}
</div>
{% endblock %}