{% if item %}

<form onsubmit="return validateForm(true, true, true)" action="{% url 'limbs:edit_item' item.id %}" method="post" id="edit_item_form">
    {% csrf_token %}
</form>

<datalist id="manufacturers">
    {% for manufacturer in manufacturers %}
        <option value="{{ manufacturer.name}}">
    {% endfor %}
</datalist>

<datalist id="suppliers">
    {% for supplier in suppliers %}
        <option value="{{ supplier.name}}">
    {% endfor %}
</datalist>

<datalist id="locations">
    {% for location in locations %}
        <option data-id="{{location.id}}" value="{{location}}">
        <!-- {% if location.parent %}
        <option data-id="{{location.id}}" value="{{location.name}}.{{location.parent}}">
        {% else %}
        <option data-id="{{location.id}}" value="{{location.name}}">
        {% endif %} -->
    {% endfor %}
</datalist>

<div id="hidden_container"></div>
<div class = 'popup_contents table_popup'>
     <div class = "paragraph" style = "grid-column: span 3; justify-self: start;">
    <h3>
      <p>
      {{item.name}}
      </p>
      <p>
      #{{item.part_number}}
      </p>
      <p>
      {{item.manufacturer}}
      </p>
    </h3>
  </div>


    <div class = "paragraph" style = "grid-column: span 1;">
    <table>
        <tr>
            <th>
                Supplier
            </th>
            <th>
                Supplier Part Number - Link
            </th>
            <th>
                Cost
            </th>
        </tr>
        {% for supplier_info in item.itemsupplier_set.all %}
        <tr>
            <td>
                <p>
                  {{supplier_info.supplier}}
                </p>
            </td>
            <td>
                <p> {{supplier_info.supplier_part_number}} -  {{supplier_info.link}} </p>
            <td>
                <p>
                  {{supplier_info.cost}}
                </p>
              </td>
        </tr>
        {% endfor %}
      </table>
    </div>

    <div class = "paragraph" style = "grid-column: span 1;">
    <table>
        <tr>
            <th>
                Location
            </th>
            <th>
                Quantity
            </th>
        </tr>
        {% for quantity_info in item.itemquantity_set.all %}
        <tr>
            <td>
              <p>
                {{quantity_info.location}}
              </p>
            </td>
            <td>
              <p>
                {{quantity_info.quantity}}
              </p>
            </td>
        </tr>
        {% endfor %}
    </table>
  </div>
<datalist id="tags">
    {% for tag in tags %}
        <option value="{{ tag.name}}">
    {% endfor %}
</datalist>

<!-- <div style="grid-column: span 1; grid-column-start: 2; grid-row-start: 2; justify-items: center;">

</div> -->

  <div class = "table" style = "display: none; grid-column-start: 1; grid-column: span 3;">
        <table id = "name_table">
          <tr>
              <th>
                  Item Name
              </th>
              <th>
                  Part Number
              </th>
              <th>
                  Manufacturer (name)
              </th>
          </tr>
          <tr>
              <th>
                  <input required  form="edit_item_form" type="text" name="item_name" value="{{item.name}}">
              </th>
              <th>
                  <input required  form="edit_item_form" type="text" name="part_number" value="{{item.part_number}}">
              </th>
              <th>
                  <input required  id=manufacturer_name list="manufacturers" form="edit_item_form" type="text" name="manufacturer_name" value="{{item.manufacturer}}">
              </th>
          </tr>
        </table>
  </div>

  <div class = "table" style=" display: none; grid-column: span 1;">
      <table id="supplier_table">
          <tr>
              <th>
                  Supplier
              </th>
              <th>
                  Supplier Part Number - Link
              </th>
              <th>
                  Cost
              </th>
          </tr>
          {% for supplier_info in item.itemsupplier_set.all %}
          <tr>
              <td>
                  <input required  list="suppliers" id=supplier_row_name form="edit_item_form" type="text" name="supplier_name_{{forloop.counter}}" value="{{supplier_info.supplier}}">
              </td>
              <td>
                  <input required  id=supplier_row form="edit_item_form" type="text" name="supplier_partno_{{forloop.counter}}" value="{{supplier_info.supplier_part_number}}"> - <input required  form="edit_item_form" type="url" name="supplier_link_{{forloop.counter}}" value="{{supplier_info.link}}">
              </td>
              <td>
                  <input required  id=supplier_row form="edit_item_form" type="number" name="supplier_cost_{{forloop.counter}}" value="{{supplier_info.cost}}">
                  <button form="edit_item_form" type="button" onclick="deleteRowTable('supplier_table', {{forloop.counter}})"> REMOVE </button>
                </td>
          </tr>
          {% endfor %}
      </table>
      <button form="edit_item_form" type="button" onclick="addRowSupplier('edit_item_form')">Add</button>
  </div>

  <div class = "table" style= "display: none; grid-column: span 1;">
      <table id="location_table">
          <tr>
              <th>
                  Location
              </th>
              <th>
                  Quantity
              </th>
          </tr>
          {% for quantity_info in item.itemquantity_set.all %}
          <tr>
              <td>
                  <input required list="locations"  id=location_row_name form="edit_item_form" type="text" name="location_name_{{forloop.counter}}" value="{{quantity_info.location}}">
              </td>
              <td>
                  <input required  id=quantity_row form="edit_item_form" type="number" name="location_quantity_{{forloop.counter}}" value="{{quantity_info.quantity}}">
                  <button form="edit_item_form" type="button" onclick="deleteRowTable('location_table', {{forloop.counter}})"> REMOVE </button>
              </td>
          </tr>
          {% endfor %}
      </table>
      <button form="edit_item_form" type="button" onclick="addRowLocation('edit_item_form')">Add</button>
  </div>


  <div id = "table" style="grid-column: span 1; grid-column-start: 1; justify-items: center;">
      <input hidden id = "changes" type="submit" form="edit_item_form" name="Edit" value="Save Changes">
      <input hidden id = "delete" type="submit" form="edit_item_form" name="Delete" value="Delete Item">
      <button id = "edit" type="button" onclick="toggleDisplay()">Edit</button>
  </div>
  <!-- <div style="grid-column: span 1; grid-column-start: 2; justify-items: center;"> -->
    <table id="tag_table">
        <tr>
            <th>
                Tags
            </th>
        </tr>
        {% for tag in item.tags.all %}
        <tr>
            <td>
                <input list="tags" readonly id=tag_row form="edit_item_form" type="text" name="tag_name_{{forloop.counter}}" value="{{tag.name}}">
                <button hidden form="edit_item_form" type="button" onclick="deleteRowTable('tag_table', {{forloop.counter}})"> REMOVE </button>
            </td>
        </tr>
        {% endfor %}
    </table>
    <button hidden form="edit_item_form" type="button" onclick="addRowTag('edit_item_form')">Add</button>
  <!-- </div> -->


  {% else %}
  <h1>Invalid Item ID</h1>
  {% endif %}
