{% extends "shared/base.html" %}

{% load static %}

{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/locations.css' %}">
{% endblock %}

{% block content %}
<h1>Locations</h1>

<h2>Database</h2>

<button type="button" onclick="do_popup(event, '{% url 'limbs:create_location' %}', 'location_tbl', 'location_popup')">Create Location</button>

<div id="location_tbl">
    {% include "./location_table.html" with location_list=location_list only %}
</div>

{% endblock %}