{% extends "shared/base.html" %}

{% load static %}


{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/items.css' %}">
{% endblock %}

{% block content %}
<h1>LIMBS</h1>

<form onsubmit="return validateForm(false, true, true)" action="{% url 'limbs:create_bulk_items' %}" method="post" id="create_bulk_item_form">
    {% csrf_token %}
</form>

<datalist id="manufacturers">
{% for manufacturer in manufacturers %}
    <option value="{{ manufacturer.name}}">
{% endfor %}
</datalist>

<datalist id="suppliers">
    {% for supplier in suppliers %}
        <option value="{{ supplier.name}}">
    {% endfor %}
</datalist>

<datalist id="locations">
    {% for location in locations %}
        <option data-id="{{location.id}}" value="{{location}}">
    {% endfor %}
</datalist>

<datalist id="tags">
    {% for tag in tags %}
        <option value="{{tag.name}}">
    {% endfor %}
</datalist>

<div id="hidden_container"></div>

<div style = "display :grid; grid-template-columns: 1fr 1fr;">
{% for item in items_to_create %}

  <div class = "table" style = "grid-column: span 1; justify-self: start; padding: 10px;">
        <table id = "name_table">
        <tr>
            <th>
                Item Name
            </th>
            <th>
                Part Number
            </th>
            <th>
                Manufacturer (name)
            </th>
        </tr>
        <tr>
            <th>
                <input required  form="create_bulk_item_form" type="text" name="{{forloop.parentloop.counter}}_item_name" value="{{item.name}}">
            </th>
            <th>
                <input required  form="create_bulk_item_form" type="text" name="{{forloop.parentloop.counter}}_part_number" value="{{item.part_number}}">
            </th>
            <th>
                <input required  id=manufacturer_name list="manufacturers" form="create_bulk_item_form" type="text" name="{{forloop.parentloop.counter}}_manufacturer_name" value="{{item.manufacturer}}">
            </th>
        </tr>
        </table>
    </div>
    <div style = "grid-column: span 1; justify-self: start; align-self: center">
    {% if item.name %}
      <p>
         {{item.name}} already exists
      </p>
    {% else %}
    {% endif %}
  </div>


    <div class = "table" style= "grid-column: span 1;">
    <table id="location_table">
        <tr>
            <th>
                Location
            </th>
            <th>
                Quantity
            </th>
        </tr>
        {% for quantity_info in item.quantity_info %}
        <tr>
            <td>
                <input required list="locations"  id=location_row_name form="create_bulk_item_form" type="text" name="{{forloop.parentloop.counter}}_location_name_{{forloop.counter}}" value="{{quantity_info.location}}">
            </td>
            <td>
                <input required  id=quantity_row form="create_bulk_item_form" type="number" name="{{forloop.parentloop.counter}}_location_quantity_{{forloop.counter}}" value="{{quantity_info.quantity}}">
                <button form="create_bulk_item_form" type="button" onclick="deleteRowTable('location_table', {{forloop.counter}})"> REMOVE </button>
            </td>
            {% endfor %}
        </tr>
    </table>
    </div>

    <div class = "table" style="grid-column: span 1;">
      <table id = "tag_table">
        <tr>
          <th>
            Tags
          </th>
        </tr>
        {% for tag_info in item.tags %}
        <tr>
          <td>
            <input required list = "tags"  id=tag_row form="create_bulk_item_form" type="text" name="{{forloop.parentloop.counter}}_tag_{{forloop.counter}}" value="{{tag_info}}">
            <button form="create_bulk_item_form" type="button" onclick="deleteRowTable('tag_table', {{forloop.counter}})"> REMOVE </button>
          </td>
        </tr>
        {% endfor %}
      </table>
    </div>

{% endfor %}




<div id = "table" style="grid-column: span 1; grid-column-start: 1; justify-items: center;">
    <input type="submit" form="create_bulk_item_form" name="Edit" value="Bulk Add">
    <input type="submit" form="create_bulk_item_form" name="Delete" value="Exit">
</div>
<hr style="height:1px; border:none; color:#000; background-color:#000;">

</div>
{% endblock %}
