{% extends "shared/base.html" %}

{% load static %}

{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/suppliers.css' %}">
{% endblock %}

{% block content %}
<h1>Suppliers</h1>

<h2>Database</h2>

<button type="button" onclick="do_popup(event, '{% url 'limbs:create_supplier' %}', 'supplier_tbl', 'supplier_popup')">Create Supplier</button>

<div id="supplier_tbl">
    {% include "./supplier_table.html" with supplier_list=supplier_list only %}
</div>

{% endblock %}