{% extends "shared/base.html" %}

{% load static %}

{% block title %}LIMBS{% endblock %}
{% block header %}
<script type="module" src="{% static 'limbs/index.js' %}"></script>
<link rel="stylesheet" type="text/css" href="{% static 'limbs/tags.css' %}">
{% endblock %}
 
{% block content %}
<h1>Tags</h1>

<h2>Database</h2>

<button type="button" onclick="do_popup(event, '{% url 'limbs:create_tag' %}' , 'tag_tbl', 'tag_popup')">Create Tag</button>

<div id="tag_tbl">
    {% include "./tag_table.html" with tag_list=tag_list only %}
</div>

{% endblock %}