<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIMBS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    <form method = "get">
      <div class = "form-group">
      {{item_filter.form}}
      <button class = "btn btn-primary" type = "submit">
        Search
      </button>
      </div>
    </form>
    <!--Checks if there is an existing item list.-->
    {% if item_list %}
        <table class="table table-striped">
            <thead>
                <th class="text-center" scope="col">#</th>
                <th class="text-center" scope="col">Name</th>
                <th class="text-center" scope="col">Supplier ID</th>
                <th class="text-center" scope="col">Description</th>
                <th colspan="3" class="text-center" scope="col">Actions</th>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr>
                        <th class="text-center" scope="row">{{item.id}}</th>
                        <td class="text-center">{{item.name}}</td>
                        <td class="text-center">{{item.supplier_id}}</td>
                        <td class="text-center">{{item.description}}</td>
                        <td class="text-center"><a data-toggle="modal" href="#info{{item.id}}">Info</a></td>
                        <td class="text-center"><a data-toggle="modal" href="#update{{item.id}}">Update</a></td>
                        <td class="text-center"><a data-toggle="modal" href="#delete{{item.id}}">Delete</a></td>
                        <div class="modal fade" id="info{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="info{{item.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Information</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="modal-body">
                                            <div class="container-fluid">
                                                <div class="row">
                                                    <div class="col-md-4">Name</div>
                                                    <div class="col-md-4 ml-auto">{{item.name}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">Supplier ID</div>
                                                    <div class="col-md-4 ml-auto">{{item.supplier_id}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">Part Number</div>
                                                    <div class="col-md-4 ml-auto">{{item.part_number}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">URL</div>
                                                    <div class="col-md-4 ml-auto">{{item.url}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">Description</div>
                                                    <div class="col-md-4 ml-auto">{{item.description}}</div>
                                                </div>
                                                <div class="row">
                                                    <div class="col-md-4">Comment</div>
                                                    <div class="col-md-4 ml-auto">{{item.comment}}</div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!--Update Modal-->
                        <div class="modal fade" id="update{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="update{{item.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Update</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <form action="{% url 'update_view' id=item.id %}" method = "post">
                                            {% csrf_token %}
                                            <div class="form-group">
                                            {{ form.errors }}
                                            {{ form.non_field_errors }}
                                            <div class="fieldWrapper">
                                                {{ form.name.errors }}
                                                <p>{{form.name.label_tag}}
                                                    <input id="name" type="text" name="name" value = {{item.name}} class = "form-control" maxlength="200" width = "50%"></p>
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.supplier_id.errors }}
                                                {{form.supplier_id.label_tag}}
                                                    <select name="supplier_id" class="form-control" required="" id="id_supplier">
                                                        {% for id, name in form.fields.supplier_id.choices %}
                                                            {% if name == item.supplier_id|stringformat:"s" %}
                                                                <option value="{{ id }}" selected>{{name}}</option>
                                                            {% else %}
                                                                <option value="{{ id }}">{{ name }}</option>
                                                            {% endif %}
                                                        {% endfor %}
                                                    </select>
                                            </div>
                                            <div class="fieldWrapper">
                                                <p>{{form.part_number.label_tag}}
                                                    <input id="id_part_number" type="text" name="part_number" value = {{item.part_number}} class = "form-control" maxlength="200" width = "50%"></p>
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.url.errors }}
                                                <p>{{form.url.label_tag}}
                                                    <input id="id_url" type="text" name="url" value = {{item.url}} class = "form-control" maxlength="200" width = "50%"></p>
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.description.errors }}
                                                <p> {{form.description.label_tag}}
                                                    <input id="id_description" type="text" name="description" value = {{item.description}} class = "form-control" maxlength="200" width = "50%"></p>
                                            </div>
                                            <div class="fieldWrapper">
                                                {{ form.comment.errors }}
                                                <p> {{form.comment.label_tag}}
                                                    <input id="id_comment" type="text" name="comment" value = {{item.comment}} class = "form-control" maxlength="200" width = "50%"></p>
                                            </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                <button type="submit" name = "update" class="btn btn-primary">Save changes</button>
                                            </div>
                                        </form>
                                    </div>
                               </div>
                            </div>
                        </div>
                        <!--Delete Modal-->
                        <div class="modal fade" id="delete{{item.id}}" tabindex="-1" role="dialog" aria-labelledby="delete{{item.id}}" aria-hidden="true">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h6 class="modal-title" id="exampleModalLabel">Delete</h6>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="container-fluid">
                                            <div class="row">
                                                <div class="col-12 col-sm-6">
                                                    <p>Are you sure you want to delete <b>{{item.id}}</b>?</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <form action="{% url 'delete_view' id=item.id %}" method="POST">
                                            {% csrf_token %}
                                            <button class="btn btn-primary" type="submit">Delete</button>
                                        </form>
                                        <button class="btn btn-secondary" data-dismiss="modal">Close</button>
                                    </div>
                               </div>
                            </div>
                        </div>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#add">Add</button>
    <div class="modal fade" id="add" tabindex="-1" role="dialog" aria-labelledby="add" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Add</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
               </div>
               <div class="modal-body">
                   <form method = "post" action="{% url 'add_view'%}">
                       {% csrf_token %}
                       <div class="form-group">
                       {{ form.errors }}
                       {{ form.non_field_errors }}
                       {{form.as_p}}
                       </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" name = "add" class="btn btn-primary">Save changes</button>
                    </div>
                   </form>
               </div>
            </div>
        </div>
    </div>
  </body>
</html>
