<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>LIMBS</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"></link>  
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>  
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  </head>
  <body>
    {% if item_list %}
        <table class="table table-striped">
            <thead>
                <th scope="col">#</th>
                <th scope="col">Name</th>
                <th scope="col">Supplier ID</th>
                <th scope="col">Description</th>
                <th scope="col">Actions</th>
            </thead>
            <tbody>
                {% for item in item_list %}
                    <tr>
                        <th scope="row">{{item.id}}</th>
                        <td>{{item.name}}</td>
                        <td>{{item.supplier_id}}</td>
                        <td>{{item.description}}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No items are available.</p>
    {% endif %}
  </body>
</html>

   